CompileFlags:
    Add:
        - "--include-directory=C:\\msys64\\ucrt64\\include"
        - "-std=c++17"
        - "--target=x86_64-w64-mingw32"
Diagnostics:
    MissingIncludes: Strict
    UnusedIncludes: Strict
